<ion-modal-view id="info-modal">
  <ion-content>
    <div class="list list-inset" id="modal-border">
        <div class="item item-divider">
          <h2>Property Information</h2>
          <i id="close" class="icon ion-close" ng-click="closeModalInfo()"></i>
        </div>
        <div class="item-info">
            <b>{{boundary.properties.MANAME}}</b>
        </div>
        <div class="item-info">
            {{boundary.properties.MGRINST}}
        </div>
        <div class="item-info">
            {{boundary.properties.TOTACRES}} acres
        </div>
        <div class="item-info" id="description">
            {{boundary.description}}
        </div>
        <div class="item-info">
            <b>Management Website: </b><a ng-href="{{boundary.properties.MA_WEBSITE}}">Here</a>
        </div>
    </div>
    <div>
        <button class="button button-full button-positive" ng-if="directionsButton" ng-click="getDirections()">Get Directions</button>
        <button class="button button-full button-positive" ng-if="seeMoreButton" ng-click="seeMore()">See More</button>
    </div>
  </ion-content>
</ion-modal-view>
