<ion-view>
  <ion-content data-tap-disabled="true">
      <leaflet id="county" lf-center="center" tiles="tiles" width="100vw" height="100vh"></leaflet>
      <button id="filters" ng-click="openModalFilters()"><i class="icon ion-funnel"></i></button>
      <button id="settings" ng-click="openModalSettings()"><i class="icon ion-social-buffer"></i></button>
      <button id="location" ng-click="findUser()"><i class="icon ion-navigate"></i></button>
      <!--<button id="home"> <i class="icon ion-home"></i></button>-->
  </ion-content>
</ion-view>
