  <ion-modal-view id="settings-modal">
    <ion-content>
      <div class="list card">
        <!--
        <div class="item item-divider">
          <h2>Navigation</h2>
          <i id="close" class="icon ion-close" ng-click="closeModalSettings()"></i>
        </div>
        <a class="item item-icon-left" ng-click="goHome()">
          <i class="icon ion-home"></i>
          <h2>Main Menu</h2>
        </a>
        <a class="item item-icon-left" ng-click="viewList()">
          <i class="icon ion-ios-list"></i>
          <h2>Property List</h2>
        </a>
        -->
        <div class="item item-divider">
            <h2>Custom Maps</h2>
            <i id="close" class="icon ion-close" ng-click="closeModalSettings()"></i>
        </div>
        <a class="item item-thumbnail-left" ng-click="changeTiles('Default')">
          <img ng-src="img/default.png">
          <h2>Default</h2>
          <p ng-show="isCurrentTile('Mapbox Default')">Current</p>
        </a>
        <a class="item item-thumbnail-left" ng-click="changeTiles('Outdoors')">
          <img ng-src="img/outdoors.png">
          <h2>Outdoors</h2>
          <p ng-show="isCurrentTile('Mapbox Outdoors')">Current</p>
        </a>
        <a class="item item-thumbnail-left" ng-click="changeTiles('Basic')">
          <img ng-src="img/basic.png">
          <h2>Basic</h2>
          <p ng-show="isCurrentTile('Mapbox Basic')">Current</p>
        </a>
        <a class="item item-thumbnail-left" ng-click="changeTiles('Dark')">
          <img ng-src="img/dark.png">
          <h2>Dark</h2>
          <p ng-show="isCurrentTile('Mapbox Dark')">Current</p>
        </a>
        <a class="item item-thumbnail-left" ng-click="changeTiles('Satellite')">
          <img ng-src="img/satellite.png">
          <h2>Satellite</h2>
          <p ng-show="isCurrentTile('Mapbox Satellite')">Current</p>
        </a>
      </div>
    </ion-content>
  </ion-modal-view>
