
html, body{
    height: 100%;
}
a.item-content:hover {
     color:inherit;;
     text-decoration:none;
     cursor:pointer;
}
#map {
  width: 100vw;
  height: 100vh;
}
#boundary-map {
  width: 100vw;
  height: 100vh;
}
